<!DOCTYPE html>
<html style="overflow-y: scroll;">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="/static/all_bootstrap/css/bootstrap.css" rel="stylesheet" />
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/main/css/studstyle.css" />
  <title>Select Menu</title>
  <style>

    .c {
      text-align: center;
    }


  </style>
</head>

<body>

  <header>
    <nav class="nav main-nav">
      <ul>
        <li class="size">CanteenConnect.</li>
        <li><a style="background-color:#333" href="{% url 'home_c' %}">Result</a></li>
        <li><a style="background-color:#333; font-weight: bold; color: rgb(83, 255, 241);" href="{% url 'home_c_s' %}">Select</a></li>
        <li style="float:right"><a class="active" href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </nav>
  </header>

  <div class="c">
    <h1 font="120" style="color:white">CREATE MENU FOR :</h1>
    <br>
    <form action=C:\\Users\\MITHUN\\python\\helperrr.html>

      <input type="date" id="birthday" name="birthday">
      <br>
    
      <br>
      <label style="color:white">Text box .1</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label style="color:white">Text box .2</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label style="color:white">Text box .3</label><br>
      <input type="text" id="lname" name="lname"><br>
      <label style="color:white">Text box .4</label><br>
      <input type="text" id="lname" name="lname"><br>
      <label style="color:white">Text box .5</label><br>
      <input type="text" id="lname" name="lname"><br>
      <input type="submit" value="Add Items">
    </form>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/static/all_bootstrap/other_js/jquery-3.2.1.min.js"></script>
  <script src="/static/all_bootstrap/other_js/popper.min.js"></script>
  <script src="/static/all_bootstrap/js/bootstrap.min.js"></script>
</body>

</html>