<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="/static/all_bootstrap/css/bootstrap.css" rel="stylesheet" />
  <meta charset="UTF-8">
  <title>Student Homepage</title>
  <link rel="stylesheet" href="/static/main/css/studstyle.css" />
  <title>Chef Home (Result)</title>
  <style>

    table,
    th,
    td {
      border: 1px solid black;
      width: 50%;
      text-align: center;
      height: 50px;
      background-color: aliceblue;
    }
  </style>
</head>

<body>
  <nav class="nav main-nav">
    <ul>
      <li class="size">CanteenConnect.</li>
      <li><a style="background-color:#333; font-weight: bold; color: rgb(83, 255, 241);" href="{% url 'home_c' %}">Result</a></li>
      <li><a style="background-color:#333" href="{% url 'home_c_s' %}">Select</a></li>
      <li style="float:right"><a class="active" href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </nav>
  <h3 class="Welcome">Welcome Chef</h3>
  </header>

  <hr>
  <hr>
  <table style="width:100%">
    <tr>
      <th>Date</th>
      <th>No. of students</th>
    </tr>

    {% for Day in Data_Objects%}
    <tr>
      <td>{{Day}}</td>
      <td>{{Day.Visitors_list.all.count}}</td>
      {% endfor %}
      <!-- 
  </tr>
  <tr>
    <td></td>
    <td></td>
    
  </tr>
  <tr>
    <td></td>
    <td></td>
    
  </tr> -->
  </table>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/static/all_bootstrap/other_js/jquery-3.2.1.min.js"></script>
  <script src="/static/all_bootstrap/other_js/popper.min.js"></script>
  <script src="/static/all_bootstrap/js/bootstrap.min.js"></script>
</body>

</html>