{% load static %}
<!DOCTYPE html>
<html lang="en">

    
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'main/css/loginstyle.css' %}">

</head>

<body>
  <!-- partial:index.partial.html -->
  <div id="bg"></div>

  <form method = "POST" action ="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-field">
      <input type="text" class="form-control" placeholder="Username" name = "username" required />
    </div>

    <div class="form-field">
      <input type="password" class="form-control" placeholder="Password" name = "password" required />
    </div>

    <div class="form-field">
      <button class="btn" type="submit">Log in</button>
    </div>
  </form>
  <!-- partial -->

</body>

</html>