<!DOCTYPE html>
<html style="overflow-y: scroll;">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="/static/all_bootstrap/css/bootstrap.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Student Homepage</title>
    <link rel="stylesheet" href="/static/main/css/studstyle.css" />
    
</head>

<body>
    <header>
        <nav class="nav main-nav">
            <ul>
                <li class="size">CanteenConnect.</li>
                <li style="float:right"><a class="active" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
        <h3 class="Welcome">Welcome Student</h3>
    </header>  
            <div id="accordion">
                {% for Day in Data_Objects%}  
                <div class="card container">
                    <div class="card-header" id="heading{{ forloop.counter0 }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ forloop.counter0 }}" aria-expanded="true"
                                aria-controls="collapse{{ forloop.counter0 }}">
                                {{Day.Date}}
                            </button>
                        </h5>
                    </div>
        
                    <div id="collapse{{ forloop.counter0 }}" class="collapse show" aria-labelledby="heading{{ forloop.counter0 }}" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                <li>{{Day.item1}}</li>
                                <li>{{Day.item2}}</li>
                                <li>{{Day.item3}}</li>
                                <li>{{Day.item4}}</li>
                                <li>{{Day.item5}}</li>
                            </ul>
                            <div class="form-check">
                                <form method="POST" action="{% url 'Attending' Day.pk %}">
                                    {%csrf_token%}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button type="button" class="btn btn-success">I will be attending</button>
                                    {{Day.Vistors_list.all.count}}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            </div>
    
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/all_bootstrap/other_js/jquery-3.2.1.min.js"></script>
    <script src="/static/all_bootstrap/other_js/popper.min.js"></script>
    <script src="/static/all_bootstrap/js/bootstrap.min.js"></script>
</body>

</html>