<!DOCTYPE html>
<html style="overflow-y: scroll;">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="/static/all_bootstrap/css/bootstrap.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Student Homepage</title>
    <link rel="stylesheet" href="/static/main/css/studstyle.css" />
    
</head>

<body>
    <header>
        <nav class="nav main-nav">
            <ul>
                <li class="size">CanteenConnect.</li>
                <li style="float:right"><a class="active" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
        <h3 class="Welcome">Welcome Student</h3>
    </header>
    {% for Day in Data_Objects%}    
            <div id="accordion">
                <div class="card container">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                {{Day.Date}}
                            </button>
                        </h5>
                    </div>
        
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                {% for Day in Data_Objects%}
                                    {% for items in Day.Course%}
                                        <li>{{items}}</li>

                                    {% endfor %}
                                {% endfor %}
                            </ul>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    I will be attending
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            </div>
    
    </div>
    <button class="button" style="vertical-align:middle"><span>Submit</span></button>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/all_bootstrap/other_js/jquery-3.2.1.min.js"></script>
    <script src="/static/all_bootstrap/other_js/popper.min.js"></script>
    <script src="/static/all_bootstrap/js/bootstrap.min.js"></script>
</body>

</html>